body {
    margin: 0;

    font-family: 'PTSans-Regular';
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}


/* Nav */
.nav {
    display: flex;
    height: 100%; 

    font-size: 15px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: #fff;
}

.nav__link.active {
    background-color: #004AF2;
}


/* Intro */
.intro {
    margin-bottom: 30px;

    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro__inner {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.intro__text {
    text-align: right;
    margin-bottom: 35px;
}

.intro__countries {
    font-family: 'PTSans-Regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
}

.intro__title {
    position: relative;

    font-family: 'Lato-Bold';
    font-weight: 700;
    font-size: 110px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.8);
}

.intro__title-amp {
    position: absolute;
    right: 0;
    top: 42px;

    font-family: 'Lato-Black';
    font-weight: 900;
    font-size: 170px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.2);
}


/* Request form */
.request-form {
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    color: #fff;
    background-color: #004AF2;
    border-radius: 5px;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form__header {
    padding: 10px 30px 21px;

    background-color: #033FC9;
}

.request-form__title {
    margin-bottom: 8px;

    font-family: 'Lato-Black';
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}

.request-form__content {
    padding: 25px 30px 30px;
}


/* Form */
.form__group {
    margin-bottom: 29px;
}

.input {
    display: block;
    width: 100%;
    padding: 0 15px 11px 45px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    
    font-family: 'PTSans-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #fff;

    transition: border-color .1s linear;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.input--user {
    background: url("../images/icons/user.svg") left 15px top 2px no-repeat;
}

.input--phone {
    background: url("../images/icons/phone.svg") left 15px top 2px no-repeat;
}

.input--email {
    background: url("../images/icons/mail.svg") left 15px top 7px no-repeat;
}


/* Btn */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 11px 20px;

    color: #FFFFFF;
    cursor: pointer;
    font-family: 'PTSans-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;

    background: #333;
    border: none;
    border-radius: 5px;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--orange {
    background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
}


/* Section */
.section {
    padding: 60px 0;
}


/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    position: relative;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.services__main-title {
    font-family: 'Lato-Black';
    font-weight: 900;
    font-size: 90px;
    line-height: 1;
    color: rgba(44, 44, 44, 0.05);

    position: absolute;
    right: 30px;
    bottom: 12px;
    z-index: 1;
}

.services__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.services__title {
    font-family: 'Lato-Black';
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #2C2C2C; 

    margin-bottom: 20px;
}

.services__text {
    color: #585858;
    line-height: 1.4;

    margin-bottom: 20px;
}

.services__footer {
    margin-top: auto;
}

.services__link {
    display: inline-block;
    color: #004AF2;

    transition: color .1s linear;
}

.services__link::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    margin-top: 5px;

    background-color: #004AF2;

    transition: width .1s linear;
}

.services__link:hover {
    color: #FF3E2F;
}

.services__link:hover::after {
    background-color: #FF3E2F;

    width: 100%;
}
